@model HomeViewModel

<!DOCTYPE html>

<div class="all_info">
    <h1>Лучшие авто</h1>
    @{
        foreach (var car in Model.favCars)
        {
            <div class="car_info">
                <h2>Модель: @car.Name</h2>
                <p>Цена: @car.price.ToString("c")</p>
                <img src="@car.Img" />
            </div>
        }
    }
</div>